@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", "Helvetica Neue", sans-serif;
}

@theme {
  --color-airbnb: #fd5c63;
  --color-airbnb-200: #e74c56;
  --color-airbnb-300: #b72f38db;

  --color-light-airbnb: #ff7980;
}

button:hover {
  cursor: pointer;
}
